# Latex temporary files #
#########################
*.aux
*.log
*.out
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.idx
*.toc
*.bbl
*.blg
*.dvi

# Build temporary folder #
##########################
build/

# Sublime Files #
#################
*.sublime-project
*.sublime-workspace

